extend base

block content
  .container-center-horizontal
    .desktop.screen
      .overlap-group
        .about-us-1
          .group-121
            link(href="/css/homepage.css", rel="stylesheet")
            a(href="/aboutUs")
              .about-us.lato-black-celeste-40px About Us
            .text-1.lato-normal-nepal-21px.
              
              Career Saathi Program is a selective student support program for meritorious students who come from financially stressed backgrounds. CSP handpicks world-beating minds at young age’s, mentors & assists them with all kinds of support, tracking their growth all along until they’re successfully employed. The support to each child ranges from administering a psychometric test, aiding in admission into the course of their choice, various bridge programs for a medium switch, assistance in applications for higher studies, entrance exams, scholarships and much more, while also equipping with next-gen employability skills.
              
            button.frame-189(style="width:120px", type="button")
              div(style="color:#ffffff;") Learn more>>
          .overlap-group2-1
            img.fancy-plants-plant-and-pot(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/fancy-plants-plant-and-pot-1@2x.png")
            img.image-27(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/image-27-1@1x.png")
        img.open-doodles-focused(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/open-doodles-focused@1x.png")
        .hero
          .overlap-group3-1
            img.rectangle-392(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/rectangle-392-1@1x.svg")
            .hero-section-content
              .overlap-group2-3
                img.subtract(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/subtract-1@1x.svg")
                h1.text-3.lato-bold-white-72px-2
                  span.span.lato-bold-white-72px
                    | Career Acceleration Platform
                    br
                    | For World-Beating Yet 
                  span.span.lato-bold-white-72px-3 Under
                  span.span.lato-bold-white-72px Privileged Students
              .text-2.merriweather-normal-white-24px Career Saathi Program
              button.frame-4(type="button", style="color:#F8F9FF; width:170px")
                | Donate Now

                //
                  <div class="fa-soliddonate-1">
                                    <!--<img
                                      class="vector-2"
                                      src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector@2x.svg"
                                    />
                                  </div>
                                <div class="donate-now-1 merriweather-bold-white-20px2">Donate Now</div>
                          <div class="donate-now-1 merriweather-bold-white-20px2"><button type="button" style="color:#F8F9FF; background-color:#EF2A82; width:200px;height:50px">Donate now</button></div>
                                </div>
              .header
                img.ellipse-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a64084364c1639fc9855b5/img/ellipse-4@2x.png")
                .csp.merriweather-black-white-72px csp
                .frame-20
                  a(href="/")
                    div(style="color:#EF2A82")
                      b Home
                  a(href="/aboutUs")
                    .who-we-are.merriweather-bold-white-20px-22(style="color:#f8f9ff")
                      b Who we are
                  a(href="/mentorship")
                    .mentorship-1.merriweather-bold-white-20px-22(style="color:#f8f9ff")
                      b Mentorship
                  a(href="donorship")
                    .donors.merriweather-bold-white-20px-22(style="color:#f8f9ff")
                      b Donors
                // <div class="contact"><div class="contact-us merriweather-light-tory-blue-16px">Contact us</div></div>
                .contact
                  button(type="button",onclick='/contactUs',style="color:#172755; background-color:#F8F9FF; width:86px;height:25px") Contact us
                .login
                  button(type="button", onclick='/login',style="color:#172755; background-color:#F8F9FF; width:76px;height:25px") Login
                //   <div class="login"><div class="login-1 merriweather-light-tory-blue-16px">Login</div></div>
        img.frame-236(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/frame-236@1x.png")
        .group-384
          .our-squad.lato-black-blue-zodiac-40px Our Squad
          .overlap-group5
            img.group-137-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-137@2x.svg")
            .students.merriweather-black-nepal-24px Students
          .overlap-group6
            .mentors.merriweather-black-nepal-24px Mentors
          .overlap-group4
            img.group-137-1(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-137-2@2x.svg")
            img.group-137(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-137-3@2x.svg")
            .cohorts.merriweather-black-nepal-24px Cohorts
            .individual-donors.merriweather-black-nepal-24px Individual Donors
          .number-1.merriweather-black-cerise-40px=students
          .number-2.merriweather-black-azure-radiance-40px=mentors
          .number.merriweather-black-cerise-40px=cohorts
          .number-3.merriweather-black-azure-radiance-40px 37
        .group-382
          .support-us.lato-black-blue-zodiac-40px Support Us
          //  <div class="donate-now merriweather-bold-white-20px2">Donate Now</div>
          button.frame-5(type="button", style="color:#F8F9FF; width:270px").
            Donate Now
            
          .overlap-group7
            .text-4.lato-normal-nepal-21px.
              
              Donar place a crucial role in student’s life.Donar is a person who makes students life colourful with his valuable donations.Donar trust his/her student,donar trust can make a student responsible and committed.
              
            .view-more.merriweather-normal-blue-zodiac-21px(style="color:#172755")
              a(href="#") View more>>
          img.vector-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector@1x.jpg")
        .overlap-group1
          .carbonlogo-google
          .group-490
            .overlap-group2-2
              .footer
                .overlap-group3
                  .footer-1
                    .text-5.merriweather-normal-zircon-18px
                      span
                        | CONTACT US
                        br
                      span.span1.poppins-normal-zircon-20px
                        br
                      span.span2.merriweather-normal-zircon-16px
                        | Phone : +91 9000276903
                        br
                        | Email : contact@nirmaan.org
                        br
                        | Address : H.No. 1-98/9/3, Flat No. 401, Plot No. 3, Jaihind Enclave, Madhapur, Hyderabad - 500081
                      span.span-1.poppins-normal-zircon-18px .
                    .text-6.merriweather-normal-zircon-18px
                      span.span0.merriweather-normal-zircon-18px ABOUT US
                      span.span1-1.merriweather-normal-zircon-18px
                        br
                        br
                      span.span2-1.merriweather-normal-zircon-16px Over the last 15 years, Nirmaan Organization has impacted 1+ million beneficiaries through Education, Livelihoods and Social Leadership initiatives across 8 states of India
                    .quick-links.merriweather-normal-white-18px QUICK LINKS
                    .text-7.merriweather-normal-zircon-24px CAREER SATHI PROGRAM
                    img.ellipse-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/ellipse-5@2x.png")
                    .frame-37
                      .place.merriweather-normal-white-16px 
                      a(href="/",   style="color:#F8F9FF; font-size:20px") Home
                      .about-us-2.merriweather-normal-white-16px 
                      a(href="/aboutUs", style="color:#F8F9FF; font-size:20px") About us
                      .mentorship.merriweather-normal-white-16px 
                      a(href="/mentorship", style="color:#F8F9FF; font-size:20px") Mentorship
                      .donors-1.merriweather-normal-white-16px 
                      a(href="/donorship", style="color:#F8F9FF; font-size:20px") Donors
              .group-489
                img.vector-9(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-30@2x.svg")
                .group
                img.vector-7(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-31@2x.svg")
                img.vector-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-32@2x.svg")
                .codicontwitter
                  img.vector-8(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/vector-34@2x.svg")
          .ettwitter
        .group-497
          .overlap-group8
            .group-383
              .students-activities.lato-black-blue-zodiac-40px Students Activities
              .frame-79
                img.rectangle-4(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/rectangle-4@2x.png")
                img.rectangle-6(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/releases/60a643ba364c1639fc9855cf/img/rectangle-6@2x.png")
                img.rectangle-5(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/rectangle-5@2x.png")
            .group-494
              img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-9@2x.svg")
            .group-495
              img.vector(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-9@2x.svg")
        .group-499
          .overlap-group9
            .group-385
              .accomplishments.lato-black-blue-zodiac-40px Accomplishments
              .group-380
                .overlap-group2
                  img.group-370(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-370@2x.svg")
                  img.group-372(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-372@2x.svg")
                  img.group-378(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/group-378@2x.svg")
            .group-492
              img.vector-3(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-11@2x.svg")
            .group-493
              img.vector-6(src="https://anima-uploads.s3.amazonaws.com/projects/60a63e93364c1639fc9855aa/img/vector-11@2x.svg")